{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="background-pic">
        <div class="fuel-form-div">
            {% block title %}<h1>Fuel Form</h1>{% endblock %}
        
            <form id="form-user" action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <p><label for="address">Delivery Address</label>
                <input type="text" value="{{ user.profile.address1 }}" name="address" disabled></p>
                <p><label for="price">Suggested Gallon Price</label> <!-- HARDCODED PRICE, CHANGE-->
                <input type="text" value="" name="price" id="price" disabled></p>
                <p><label for="total">Total Due</label>
                <input type="text" value="" name="total" id="total" disabled></p>
                
                <!-- <a href="{% url 'profile' %}" id="button-cancel" class="form-btn">Cancel</a> Cancel button implement? -->
                <a href="" class="form-btn" id="getQuote">Get Quote</a>
                <input id="button-send" type="submit" class="form-btn" value="Submit Quote">

                <div id="test"></div>
                  
            </form>
        </div>
        <div class="passed-data" hidden>
            <p id="state">{{ data.state }}</p>
            <p id="ratehistory">{{ data.ratehistory }}</p>
        </div>
    </div>
{% endblock content %}
