{% extends "base.html" %}
{% block content %}
<div class="quote-history">
    <h1>Fuel Quote History</h1>
    <table class="table" id="quoteTable">
        <thead>
            <tr>
                <th scope="col">Gallons Requested</th>
                <th scope="col">Delivery Address</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Price/Gallon</th>
                <th scope="col">Total Due</th>
            </tr>
        </thead>

        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.gallonsReq }}</td>
                <td>{{ post.fullAddress }}</td>
                <td>{{ post.deliveryDate }}</td>
                <td>{{ post.pricePerGallon }}</td>
                <td>{{ post.totalDue }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
