{% extends "base.html" %}
{% block content %}
    <!-- OLD HOME PAGE HAS LOGIN AND SIGNUP: -->
    <!-- <div class="input-box"> 
        <a href="{% url 'login' %}" id="login" class="submit-btn" name="submit">Login</a>
        <a href="{% url 'signup' %}" id="signup" class="submit-btn" name="submit">Sign Up</a>
    </div> -->

    <h1> Home Page </h1>
{% endblock content %}

<!-- <html>
    <head>
        <title>Predict Rate of Fuel</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="background-pic">
            <div class="input-box">
                <a href="{% url 'login' %}" id="login" class="submit-btn" name="submit">Login</a>
                <a href="{% url 'signup' %}" id="signup" class="submit-btn" name="submit">Sign Up</a>
            </div>
        </div>
    </body>
</html> -->