<html>
    <head>
        <title>Profile Management</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="background-pic">
            <div class="profile-box">
                <div class="profile-manage">
                    <h1>Profile Management</h1>
                    <form> {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value='Submit'>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
