<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quote</title>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>
        <!-- HARDCODED, ADJUST LATER -->
        Price per Gallon: 9.99
    </div>
    <div>
        <!-- HARDCODED, ADJUST LATER -->
        Total Due: 99.90
    </div>
    <div>
        <button id="quoteOk">Ok</button>
    </div>

    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <script type="text/javascript" src="{% static 'quote.js' %}"></script>
</body>

</html>
