<html>
    {% load bootstrap4 %}
    <head>
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="background-pic">
            <div class="signup-box">
                <h1>Sign-Up</h1>
                <form method="post">
                    {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" class="submit-btn" value="Sign up">
                </form>
            </div>
        </div>
    </body>
</html>