*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.background-pic{
    height:100%;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images//photo-1489596162121-4a8e544d6de0.jfif");
    background-position:center;
    background-size:cover;
    position:absolute;
}

.fuel-form-title{
    width: 1000px;
    background-color: rgba(0,0,0,0.6);
    margin:auto;
    margin-top: 50px;
    color:#FFFFFF;
    padding: 0px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    font-size: 25px;
    position:relative;
}

.fuel-form-div{
    background-color: rgb(0,0,0,0.5);
    width: 1000px;
    margin: auto;
}
form{
    padding: 10px;
}
    

.gallons-requested{
    color:white;
    font-size: 20px;
    left: 380px;
    margin-left: 85px;
    margin-top: 50px;
}

#input-gallons-input{
    position:relative;
    left: 185px;
    top:100%;
    line-height:40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

.deliver-address{
    margin-left: 85px;
    margin-top: 50px;
    left: 380px;
    color:white;
    font-size: 20px;
}

#input-address-input{
    position:relative;
    left: 203px;
    line-height:40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    font-weight: bold;
    width: 450px;
}

.delivery-date{
    margin-left: 85px;
    margin-top: 50px;
    left: 380px;
    color:white;
    font-size: 20px;
}

#input-date-input{
    position:relative;
    left: 240px;
    line-height:40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

.price-per-gallon{
    margin-left: 85px;
    margin-top: 50px;
    left: 380px;
    color:white;
    font-size: 20px;
}

#input-price-input{
    position:relative;
    left: 210px;
    line-height:40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    font-weight: bold;
}

.total-due{
    margin-left: 85px;
    margin-top: 50px;
    left: 380px;
    color:white;
    font-size: 20px;
}

#total-due-input{
    position:relative;
    left: 210px;
    line-height:40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    font-weight: bold;
}

/*
.buttons{
    margin-left: 85px;
    margin-top: 50px;
    left: 380px;
    color:white;
    font-size: 20px;
}

#button-cancel{
    position:relative;
    left: 300px;
    line-height:40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    font-weight: bold;
}

#button-send{
    position:relative;
    left: 300px;
    line-height:40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    font-weight: bold;
}
*/

.form-btn{
    text-decoration:none;
    color:white;
    text-align:center;
    font:10px;
    width:85%;
    /*padding:10px 30px;*/
    cursor:pointer;
    display:block;
    margin-top:50px;
    background:linear-gradient(to right,lightseagreen,rgb(109, 223, 109));
    border:0;
    outline:none;
    border-radius: 30px;
    position:center;
}

.input-box{
    width:380px;
    height: 300px;
    position:relative;
    margin:6% auto;
    background-color:rgba(135, 206, 235, 0.8);
    padding:5px;
}

.signup-box{
    width:380px;
    height: 500px;
    position:relative;
    margin:6% auto;
    background-color:rgba(135, 206, 235, 0.8);
    padding:5px;
}

.button-box{
    width:220px;
    margin:35px auto;
    position:relative;
    box-shadow: 0 0 20px 9px lightblue;
    border-radius:30px;
}

h1{
    text-align:center;
    position: relative;
    padding: 10px;
    color:white;
    text-shadow: 2px 2px #315253;
}

#btn{
    top:0;
    left:0;
    position:absolute;
    width:110px;
    height:100%;
    background:linear-gradient(to right,lightseagreen,rgb(109, 223, 109)); 
    border-radius:30px;
    transition:.5s;
}

.input-info{
    position:absolute;
    width:280px;
    transition:.5s;
    padding:50px;
    padding-top: 10px;
}

.input-info p{
    padding-top:20px;
    color:black;
}

.input-field{
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom: 1px solid white;
    outline:none;
    background:transparent;
}

.submit-btn{
    text-decoration:none;
    color:black;
    text-align:center;
    font:10px;
    width:85%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin-top:50px;
    background:linear-gradient(to right,lightseagreen,rgb(109, 223, 109));
    border:0;
    outline:none;
    border-radius: 30px;
    position:center;
}

#register{
    left:400px;
}

/*profile management styling*/
.profile-box{
    width:380px;
    height: 600px;
    position:relative;
    margin:6% auto;
    background-color:rgba(135, 206, 235, 0.8);
    padding:5px;
}

.profile-manage h1{
    text-align:center;
    box-shadow: 0 0 20px 9px lightblue;
    border-radius:30px;
    border-bottom: 30px;
}

.profile-manage p{
    padding-top:50px;
}

.dropdown{
    background-color:rgba(172, 231, 255, 0.76); 
}
.profile-manage span{
    font-size:13px;
}

/* Fuel Quote History Styling */
#quoteTable{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: rgba(135, 206, 235, 0.8);
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 3%;
    padding-left: 5%;
    padding-right:5%;
}

#dummyEntry{
    text-align: center;
    margin-top: 30px;
}

.quote-history {
    margin-top: 2%;
}

.quote-history h1{
    text-align: center;
    box-shadow: 0 0 20px 9px lightblue;
    border-radius:30px;
    border-bottom: 30px;
    background-color: rgba(135, 206, 235, 0.8);
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}
