*{
    margin:0;
    padding:0;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url("images//photo-1489596162121-4a8e544d6de0.jfif");
    background-position:center;
    background-size:cover;
    padding-left: 5%;
    padding-right:5%;
    box-sizing:border-box;
    position:relative;
}

.loginbox{
    width:320px;
    height: 380px;
    background:#000;
    color:#fff;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
}

h1{
    margin:0;
    padding:0 0 20px;
    text-align:center;
    font-size:30px;

}

.loginbox p{
    font-weight:bold;
}

.loginbox input{
    width:100%;
    margin-bottom:20px;
}

.loginbox input[type="text"],input[type="password"]{
    border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height: 40px;
    font-size:16px;
    color: #fff;

}

.loginbox input[type="submit"]{
    border:none;
    outline:none;
    height:40px;
    background:lightseagreen;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    cursor:pointer;
    background: darkseagreen;
    color: #000;
}

.loginbox a{
    text-decoration:none;
    font-size: 15px;
    line-height:20px;
    color:lightslategrey;
}

.loginbox a:hover{
    color:darkseagreen;
}