<html>
    {% load bootstrap4 %}
    <head>
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="background-pic">
            <div class="input-box">
                <h1>Login</h1>
                <form method="post" id="login" class="input-info">
                    {% csrf_token %}
                    {{form.as_p }}
                    {% buttons %}
                    <input type="submit" class="submit-btn" value="Login">
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </body>
</html>